html {
  background-image: url("resources/images/bricks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

body {
	margin: 0;
	color: seashell;
	font-size: 18px;
	text-align: center;
}

flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

h1 {
	font-family: Verdana; sans-serif;
	padding: 10px;
}

p {
	font-family: Roboto, sans-serif;
}

header {
	width: 100%;
	position: fixed;
	z-index: 1;
	height: 69px;
	border-bottom: 1px solid seashell;
	align-items: cetner;
}