html {
  background-image: url("resources/images/bricks.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

.home {
	font-color: seashell;
}

.site-header {
	display: grid;
	gap: 20px;	
}

.h1 {
	font-family: Verdana; sans-serif;
	align: center;
}